body {
    display: inline-block;
    background: black;
}

ul {
    background: white;
    margin: 5%;
    display: inline-block;
}

ul.octodex li.octocat > a > img {
    width: 85%;
    height: 70%;
    float: bottom;
    margin: 10%;
    border: 1px solid lightgray;
}

.octocat {
    display: inline-block;
    height: auto;
    width: 30%;
    overflow: hidden;
    margin: 0 9px 0;
    font-size: 12px;
}

.image-number {
    text-align: left;
}

ul.octodex li.octocat div.image-footer {
    text-align: right;
}

ul.octodex li.octocat div.image-footer div.image-caption > a {
    font-weight: bolder;
    color: black;
    display: inline-block;
}

ul.octodex li.octocat div.image-footer div.image-caption ul.authors > a {
    display: inline-block;
}

ul.octodex li.octocat div.image-footer div.image-caption ul.authors > li > a > img {
    width: 12%;
    height: 12%;
}

ul.octodex li.octocat div.image-footer span.image-number {
    text-align: left;
    font-size: 12px;
    color: lightgray;
    margin: 10%;
}
